@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TrTek Yazilim Sayfasina Hos Geldiniz.!!</h1>
    <p>
        <a class="btn btn-secondary" href="/course/apply">Form'a Geç</a>
    </p>
</div>
