@using Microsoft.AspNetCore.Identity
@using Entities.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user"></i> @UserManager.GetUserAsync(User).Result?.FirstName
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">
                <i class="fas fa-user-circle"></i> Profilim
            </a>
            <a class="dropdown-item" asp-area="" asp-controller="Order" asp-action="MyOrders">
                <i class="fas fa-shopping-bag"></i> Siparişlerim
            </a>
            <div class="dropdown-divider"></div>
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i> Çıkış Yap
                </button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
            <i class="fas fa-user-plus"></i> Kayıt Ol
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
            <i class="fas fa-sign-in-alt"></i> Giriş Yap
        </a>
    </li>
}
</ul> 