@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Products</div>
                <div class="card-body">
                    <h5 class="card-title">Product Management</h5>
                    <p class="card-text">Products View, Add, Update and Delete.</p>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-light">Products Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <h5 class="card-title">Category Management</h5>
                    <p class="card-text">Category View, Add, Update and Delete.</p>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-light">Categories Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Reports</div>
                <div class="card-body">
                    <h5 class="card-title">System Reports</h5>
                    <p class="card-text">System Statistics and  Report View.</p>
                    <a asp-area="Admin" asp-controller="Report" asp-action="Index" class="btn btn-light">Reports Go</a>
                </div>
            </div>
        </div>
    </div>
</div>